.quote {
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: bolder;
    font-size-adjust: initial;
}
.author {
    font-size: smaller;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size-adjust: inherit;
}
#GOT{
    border: 5rem;
}